// @import "./theme";
@import "~bootstrap/scss/bootstrap";

.ReactChart {
  margin-top: 40px;
  max-height: 500px;
}

.heading {
  text-align: center;
}

.btn-to-open-modal {
  margin-top: 30px;
  margin-left: 40%;
}

.form-group {
  margin-bottom: 0.6rem;
}

.btn-to-send-data {
  text-align: center;
}

.custom-spinner {
  margin-top: 200px;
  margin-left: 30%;
}

.reactstrap-spinner-override {
  width: 30rem;
  height: 30rem;
}

.temperature-chart {
  display: flex;
}

cooling-factor-chart {
  display: flex;
}

.y-axes-label {
  margin-top: 20%;
  margin-right: 1%;
  font-weight: 600;
}

.x-axes-label {
  margin-top: 5%;
  margin-left: 50%;
  font-weight: 600;
}
